*{
    box-sizing: border-box;
    margin:0;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-auto-rows: minmax(500px, auto);
    gap: 100px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    padding: 50px;
  }
  
  .grid-container > div {
     border-radius: 30px;
    background-image: url('/images/aldebaran-s-uXchDIKs4qI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left ;
    padding: 140px 60px;
    font-size: 25px;
    
  }

